.events-extras-container {
  /* font-size: clamp(1.2rem, 1.0495rem + 0.6882vw, 1.6rem); */
}

.body {
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.05em;
  margin-top: 2rem;
}

div.body > h1 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.07em;
}

@media (min-width: 768px) {
  .body {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .events-extras-container {
    /* font-size: clamp(1.2rem, 1.0495rem + 0.6882vw, 1.6rem); */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .events-extras-container a {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #ba6740;
  }
  div.body {
    font-size: 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  div.body > h1 {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 0;
  }
  div.events-extras-container > button {
  }
}
