.body {
}

div:first-of-type p {
  font-size: 20px;
}

@media (min-width: 768px) {
  div:first-of-type p {
    font-size: 30px;
  }
}
@media (min-width: 80rem) {
  .body {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  div.body > p {
    /* font-size: 44px; */
  }
}
