h1.header {
  text-align: center;
}

h2.header {
  font-size: 32px;
  text-align: center;
}

@media (min-width: 80rem) {
  h1.header {
    grid-row: 1/-1;
    grid-column: 1/-1;
    text-align: center;
  }
  h2.header {
    grid-column: 1/3;
  }
}
