.body {
  font-size: clamp(1.1rem, 0.153rem + 1.368vw, 1.48rem);
  /* font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem); */
  grid-column: span 2;
}

@media (min-width: 700px) {
}

@media (min-width: 1200px) {
  .body {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
