h1.header {
  text-align: center;
  font-size: clamp(2rem, 0.7153rem + 1.6368vw, 5rem);
  letter-spacing: 0.07em;
}

h2.header {
}

@media (min-width: 700px) {
  h1.header {
    grid-row: 1/2;
    grid-column: span 2;
    justify-self: center;
  }
  h2.header {
  }
}

@media (min-width: 1280px) {
  h1.header {
    justify-self: left;
    font-size: 60px;
    margin-bottom: 0;
    line-height: 68px;
  }
}
