.body {
  grid-row: 1/2;
}

div.body > p {
  font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.6rem);
}
@media (min-width: 768px) {
  .body {
    grid-row: unset;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
  }
  /* div.body > p {
    font-size: 22px;
  } */
}

@media (min-width: 80rem) {
  .body {
    grid-row: unset;
  }
}

@media (min-width: 100rem) {
  /* div.body > p {
    font-size: 26px;
  } */
}

@media (min-width: 120rem) {
  /* div.body > p {
    font-size: 30px;
  } */
}
@media (min-width: 140rem) {
  /* div.body > p {
    font-size: 34px;
  } */
}
