/* .background-hero-image {
  max-width: var(--size-max-width);
  height: auto;
  width: 100%;
  z-index: -100;
}

@media (min-width: 768px) {
  .background-hero-image {
    max-width: 100%;
  }
} */
