.home-page-headlines {
  padding: 7rem 0;
  font-size: clamp(1rem, 0.0217rem + 4.3478vw, 3.5rem);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: white;
}

h1.main-header {
  text-align: center;
  margin: 0;
}

h2.sub-header {
  font-size: inherit;
  text-align: center;
  margin: 0 0 2rem 0;
  font-style: italic;
  font-weight: normal;
}

.contact-button {
  padding: 1rem 2.5rem;
  font-family: 'Lato', Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border: 1px solid #ffdfae;
  border-radius: 4px;
  background-color: #ba6740;
  color: white;
}
.contact-button:hover {
  cursor: pointer;
  background-color: #985232;
}
@media (min-width: 768px) {
  .home-page-headlines {
    padding: 9rem 0;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
  .contact-button {
    font-size: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .home-page-headlines {
    padding: 9rem 0;
    flex-flow: column nowrap;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
  .contact-button {
    font-size: 2rem;
    padding: 1.5rem 3.5rem;
  }
}
